.signup_component {
  border: 1px solid #9771ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}

.textbox {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
}

.textbox>input {
  width: 100%;
  height: 15px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.signup_btn {
  width: 100%;
  min-height: 35px;
  background-color: #9771ff;
  border: none;
  border-radius: 5px;

}